* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #1BBC9B;
  }
  
  .login-form {
      padding: 20px;
      background-color: #EEEFF1;
      width: 300px;
      display: block;
      margin: 50px auto auto auto;
      border-radius: 5px;
     
      }
  
  .text-field {
    font-size: 14px;
    border-style: none;
    padding: 10px;
     margin-bottom: 10px;
      border-radius: 5px;
      width: 260px;
      color: #9B9B9B;
  }
  
.submit-btn {
    font-size: 14px;
    background-color: #1BBC9B;
    border-style: none;
    padding: 10px;
    margin: auto auto 20px auto;
    border-radius: 5px;
    width: 260px;
    color: white;
     
}
.submit-btn:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.links {
    text-align: center;   
}
  
.links a {
    font-size: 12px;
    color: #9B9B9B; 
}