table {
    border: 1px dotted blue;
    border-collapse: collapse;
}

td {
    height: 50px;
    width: 100px;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}

table button {
    height: 50px;
    width: 80px;
    background-color: lightgoldenrodyellow;
    color: black;
}

#display {
    height: 170px;
    width: 300px;
    resize: none;
}

#result {
    height: 50px;
    width: 300px;
    font: bold 80px;
    text-align: right;
    resize: none;
}

label input[type=number] {
    display: inline;
}