table {
    border: 1px dotted blue;
    border-collapse: collapse;
}

td {
    height: 50px;
    width: 100px;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}

table button {
    height: 50px;
    width: 80px;
    background-color: lightgrey;
    color: black;
}

textarea {
    height: 250px;
    width: 300px;
}

label input[type=number] {
    display: inline;
}