body {
  margin: 0;
}

/* 전체 */

div {
  height: 200px;
}

/* 개별 */

#red {
  background-color: #ff0000;
  width: 100%;
  float: right;
}

#orange {
  background-color: #ffa500;
  width: 25%;
  float: left;
}

#yellow {
  background-color: #ffff00;
  width: 50%;
  float: left;
}

#green {
  background-color: #008000;
  width: 25%;
  float: left;
}

#blue {
  background-color: #0000ff;
  width: 50%;
  float: left;
}

#indigo {
  background-color: #4b0082;
  width: 50%;
  float: left;
}

#purple {
  background-color: #800080;
  width: 100%;
  float: right;
}