.env-div {
  width: 500px;
  height: 232px;
  position: relative;
}

.address {
  font-family: cursive;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

/*
이곳에 코드를 작성하세요.
*/
.stamp {
  position: absolute;
  top: 30px;
  right: 30px;
}