.quote {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    margin-top: 75px;
  }
  
  .figure {
    margin-top: 50px;
  }
  
  /*
  이곳에 코드를 작성하세요.
  */

span:nth-child(1) {
    position: relative;
    font-size: 96px;
    top: 20px;
    margin-right: 15px;
}
span:nth-child(2) {
    position: relative;
    font-size: 96px;
    top: 80px;
    margin-left: 15px;
}